<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
<title>Event management website for CSE department</title>

</head>

<body>

<body background="http://wallpapers.vintage.it/wallpapers/Buddha_wallpaper_1600x1200.jpg">
<img src="http://home.iitk.ac.in/~mukesh/new%20logo.gif">
<font color="#0033CC" size="10" ><b><i>INDIAN INSTITUTE OF TECHNOLOGY KANPUR</b></i></font>

<br>

<font color="#00FF00" size="5.5"><b><center>Event management website for CSE department</b></font></b>
<br><br></center>

<hr>
<pre>
<a href="/welcome/index.html"> <font color="#00FF00" size="5"><b><i><ins>HOME</ins></i></b></big></a></font>  <a href="/welcome/agenda.html"> <font color="#00FF00" size="5"><b><i><ins>TODAY's AGENDA FOR ROOMS</ins></i></b></big></a>   <a href="/welcome/contact.html"> <font color="#00FF00" size="5"><b><i><ins>CONTACT US</ins></i></b></big></a>
</pre>
<hr>
<br><br>
<a href="/welcome/hello.html"> <font color="#00FF00" size="4"><b><i>CLICK HERE FOR THE BOOKING OF A ROOM</i></b></big></a>
<br>
<br><br><br>


<font color="#FF0066" size="4.5"> USEFUL LINKS:-
<pre><a href="http://www.iitk.ac.in"> <font color="#00FF00" size="5"><b><ins>IITK-HOMEPAGE</ins></b></big></a>     <a href="http://webmail.iitk.ac.in"> <font color="#00FF00" size="5"><b><ins>IITK WEBMAIL</ins></b></big></a>


<br><br>
<br>
<br><br><br><pre>
<font color="#FFFF66" size="4">GORANK DUDEJA
ROLL NO.-11283
DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING,IIT KANPUR
</font></pre>
</body>
</html>